.layout-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 400px;
    max-width: 1500px;    
}

@media only screen and (max-width: 1300px) {
    .layout-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}