@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.podcasts-card {
    width: 300px;
    position: relative;
    min-height: 180px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px 2px;
    padding: 10px;
    cursor: pointer;
}

.podcasts-card:hover {
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.1) 6px 10px 8px 1px, rgba(0, 0, 0, 0.06) 2px 4px 6px 4px;
}

.podcasts-card img {
    border-radius: 50%;
    width: 140px;
    position: absolute;
    right: 80;
    top: -60;
}

.podcasts-card img:hover {
    animation: rotation 4s infinite linear;
}

.podcasts-card-text {
    margin-top: 100px;
    color: black
}
